.header{
    grid-area:header;
    background: rgba(174, 99, 255, 0);
    background-image:url("../../images/unnamed.png") ;
    background-repeat: no-repeat;

    }
    .header img{
        width:20px;
        height:20px;

      }
